@font-face {
  font-family: "Coolest Font in the world";
  src: url('./Elite_Hacker_Corroded.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
h1{
  text-align: center;
  font: 100px "Coolest Font in the world";
}
